.home {
  grid-template-columns: 3fr 2fr;

  img {
    display: inline;
    float: left;
    margin: 0 20px 0 0;
  }

  p {
    clear: both;
  }

  section {
    margin: 0;
  }

  aside {
    nav {
      ul {
        padding: 50px 0 0;

        li {
          font-size: 2em;
          font-weight: 700;
          margin: 0 0 50px;
          padding: 10px;
          border-bottom: 8px solid $black;

          &:last-of-type {
            margin: 0;
          }

          .caret {
            display: inline-block;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 14px solid $black;
          }

          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
