@import "home";
@import "contact";

.education,
.experience {
  grid-template-columns: 1fr 1fr;

  li {
    line-height: 2em;
  }

  section:last-of-type {
    grid-column-end: span 2;
  }
}

.experience {
  p {
    margin: 0 0 10px;
  }
}

.title {
  font-weight: 700;
  background: $yellow;

  &::before {
    display: inline-block;
    content: "";
    width: 0;
    height: 0;
    margin: 0 15px 0 5px;
    border-top: 0.45em solid transparent;
    border-bottom: 0.45em solid transparent;
    border-left: 0.8em solid $black;
    transform: translateY(1.5px);
  }

  &::selection {
    background: $purple;
  }
}
